@import "tailwindcss";
@tailwind utilities;

* {
    font-family: "Poppins", sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

@layer components {
    .roboto {
        font-family: "Roboto", sans-serif !important;
    }
    .raleway {
        font-family: "Raleway", sans-serif !important;
    }
    .popins {
        font-family: "Poppins", sans-serif !important;
    }
}

